<h1>News Feed</h1>
<% if @posts.present? %>
  <% @posts.each do |post| %>
    <%= post.text_content %>
    <br/>
    <% if post.photos.present? %>
      <% post.photos.each do |photo| %>
        <%= image_tag photo.image_url, :size => '237x157' %>
      <% end %>
    <% end %>
    <br/>
  <% end %>
<% end %>
<%#= render partial: "posts/form" %>